@page
@model Index
@{
    ViewData["Title"] = "Home page";
}

<div class="col-lg-1">
    <label for="nameoflocation">Dinalupihan</label>
    <input type="text" id="lat" name="lat" value="14.8781"><br><br>
    <input type="text" id="lon" name="lon" value=" 120.4546"><br><br>
</div>

<div class="col-lg-1">
    <label for="nameoflocation">Olongapo City</label>
    <input type="text" id="lat" name="lat" value=" 14.8386"><br><br>
    <input type="text" id="lon" name="lon" value="14.8386"><br><br>
</div>

<div class="col-lg-1">
    <label for="nameoflocation">Angeles City</label>
    <input type="text" id="lat" name="lat" value="15.1450"><br><br>
    <input type="text" id="lon" name="lon" value=" 15.1450"><br><br>
</div>
<div class="col-lg-1">
    <label for="nameoflocation">Davao City</label>
    <input type="text" id="lat" name="lat" value="7.1907"><br><br>
    <input type="text" id="lon" name="lon" value=" 7.1907"><br><br>
</div>